h1{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
p{
    font-family:"lucida console","courier new";
   font-size:1em; 
   font-size:25px; 
    font-weight: bold;
    font-style:italic;
}